ion-button{
        font-size: 20px; /* Aumentar el tamaño del texto */
        padding: 20px 30px; /* Aumentar el relleno interno del botón */
        height: 100px; /* Aumentar la altura del botón */
}