.card{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 100px;
    border-radius: 30px;
}

.icons{
    align-items: center;
    text-align: center;
    font-size: 150px;
}


.title{
    text-align: center;
    margin-bottom: 40px;
    font-size: bold;
    font-size: xx-large;
}

.correo{
    margin-bottom: 30px;
}

.contraseña{
    margin-bottom: 40px;
}

.goHome{
    margin-left: 170px;
    margin-right: 170px;
    margin-bottom: 30px;
}

.rememberMe{
    margin-bottom: 30px;
}

.registerUser{
    text-align: center;
}

ion-input{
    border-radius: 30px;
}