<ion-content [fullscreen]="true">

  <ion-card class="card">

    <div class="icons">
      <ion-icon class="icon" name="person-circle"></ion-icon>
    </div>

    <h1 class="title">Iniciar sesión</h1>

    <ion-input class="correo" label="Nombre de usuario" label-placement="floating" fill="outline" placeholder="Ingresa nombre de usuario"></ion-input>

    <ion-input class="contraseña" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresa contraseña"></ion-input>

    <ion-checkbox class="rememberMe" labelPlacement="end">Recordar usuario</ion-checkbox> 

    <ion-button class="goHome" expand="block">Iniciar sesion</ion-button>

    <div class="registerUser"><a href="#">No tienes cuenta, registrate aqui!</a></div>

  </ion-card>

</ion-content>
