.icon{
  align-items: left;
  text-align: center;
  font-size: 2rem;
  margin-top: 1px;
}

.title{
  text-align: center;
  font-size: bold;
  font-size: xx-large;
}

.subtitle{
  font-size: 1rem;
  margin-left: 3px; 
}