<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>ServiExpress</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label><ion-button fill="clear" routerLink="/reserva-hora">Reservar Hora</ion-button></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="log-in-outline"></ion-icon>
        <ion-label><ion-button fill="clear" routerLink="/login">Iniciar Sesión</ion-button></ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="titulo">ServiExpress</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <section class="navbar">
      <div class="nav">
        <ion-grid>
          <ion-row>
            <ion-col><ion-button fill="clear">¿Quienes Somos?</ion-button></ion-col>
            <ion-col><ion-button fill="clear">Nuestros Servicios</ion-button></ion-col>
            <ion-col><ion-button fill="clear">Agenda tu Cita</ion-button></ion-col>
            <ion-col><ion-button fill="clear">Contáctanos</ion-button></ion-col>
            <ion-col><ion-button fill="clear"><ion-icon name="search-outline"></ion-icon></ion-button></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </section>


    <section class="hero">

      <div class="imagen-hero">

        <ion-img src="https://ionicframework.com/docs/img/demos/card-media.png"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>

      </div>

    </section>

    <section class="reserva">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="reserva-hora">

              <h2>Reserva tu hora con nosotros de forma rápida y segura</h2>
              <ion-button expand="block" routerLink="/reserva-hora">Reservar</ion-button>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </section>

    <br>
    <hr>

    <section class="servicios">

      <h3>Nuestros servicios</h3>
      <ion-grid>

        <ion-row>

          <ion-col><img alt="Silhouette of mountains"
              src="https://ionicframework.com/docs/img/demos/card-media.png" /></ion-col>
          <ion-col><img alt="Silhouette of mountains"
              src="https://ionicframework.com/docs/img/demos/card-media.png" /></ion-col>
          <ion-col><img alt="Silhouette of mountains"
              src="https://ionicframework.com/docs/img/demos/card-media.png" /></ion-col>

        </ion-row>

      </ion-grid>

    </section>

    <br><br>

    <ion-footer>
      <section class="footer">

        <ion-grid>
          <ion-row>
            <ion-col><img alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/card-media.png" /></ion-col>
            <ion-col>
              <ion-list [inset]="true">
                <ion-item>
                  <ion-label>¿Quienes Somos?</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Nuestros Mecánicos</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Sucursal</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Garantías</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label>Contáctanos</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="call-outline"></ion-icon>
                  <ion-label>+56912345678</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="mail-outline"></ion-icon>
                  <ion-label>correo@serviexpress.com</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>

      </section>
    </ion-footer>

  </ion-content>
</div>