.card{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 100px;
}

.title{
    text-align: center;
    margin-bottom: 20px;
    font-size: bold;
    font-size: xx-large;
}

.subtitle{
    text-align: center;
    margin-bottom: 30px;
}

.d-input{
    margin-bottom: 20px;
}

.input{
    margin-bottom: 20px;
}

.action{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
}